html, body {
	background: #dddddd;
}

.container {
	background: #fcfcfc;
	margin-top: 20px;
	padding-top: 20px;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
	box-shadow: 0px 0px 18px #9d9d9d;
}

#checkboxes {
	margin-bottom: 9px;
}

form, fieldset, .actions {
	margin-bottom: 0;
}

li {
	margin: 4px 0;
}

.footer {
	text-align: center;
	color: #4d4d4d;
	padding: 12px;
}

.container .alert-message {
	margin: 5px 20px;
}

.help-block {
	margin-top: 4px;
}

.error {
   color: #B94A48;
}

.hidden {
	visibility: hidden;
}

#customUrlPopup .input {
	text-align: center;
}

#customUrlPopup .input .xxlarge {
	width: 524px;
}